@import "sass/breakpoints";
@import "sass/mixins";
@import "sass/helpers/functions";

@font-face {
  font-family: 'MouseMemoirs';
  src: url('/assets/fonts/MouseMemoirs-Regular.ttf');
}

body,
html,
#app {
  height: 100%;
}

html {
  font-family: MouseMemoirs, serif;
  font-size: 16px;
  position: relative;
  height: 100%;
}

button,
a {
  cursor: pointer;
}

.container {
  // 576px
  max-width: toRem(576, 16);
  margin: 0 auto;
}

@include breakpoint-up(medium) {
  .container {
    // 1035px
    max-width: toRem(1035, 16);
  }
}

@include breakpoint-up(large) {
  .container {
    // 1690px;
    max-width: toRem(1630, 16);
  }
}
