@use "sass/helpers/functions"as f;
@use "sass/mixins"as m;

@mixin sharedTypoProps {
  font-style: normal;
  font-weight: 400;
}

@mixin HeadingXL {
  font-size: f.toRem(136, 16);
  line-height: f.toRem(163.2, 16);
  @include sharedTypoProps;
}

@mixin HeadingL {
  font-size: f.toRem(88, 16);
  line-height: f.toRem(105.6, 16);
  @include sharedTypoProps;
}

@mixin HeadingM {
  font-size: f.toRem(48, 16);
  line-height: f.toRem(57.6, 18);
  @include sharedTypoProps;

}

@mixin HeadingS {
  font-size: f.toRem(32, 18);
  line-height: f.toRem(38.4, 18);
  letter-spacing: 1.6px;
  @include sharedTypoProps;
}

@mixin Body {
  font-size: f.toRem(26, 16);
  line-height: f.toRem(31.2, 18);
  @include sharedTypoProps;
}
