@use "sass/breakpoints"as b;
@use "sass/mixins"as m;
@use "sass/helpers/functions"as f;

// For responsive

.hide-for-mobile {
    @include m.breakpoint-down("small") {
        // 375px => 767px
        display: none !important;
    }
}

.hide-for-tablet {
    @include m.breakpoint-down("medium") {
        // 768px => 1439px
        display: none !important;
    }
}
.hide-for-desktop {
  @include m.breakpoint-up("large") {
    // 1440px => x
    display: none !important;
  }
}


.hide-for-mobile-and-tablet {
    @include m.breakpoint-down("medium") {
        // x <= 768px
        display: none !important;
    }
}

.hide-for-tablet-and-desktop {
    @include m.breakpoint-up("medium") {
        // 768px => 1439px
        display: none !important;
    }
}

// Header Button Styles

.btn-style {
  position: absolute;
  left: 0;
  width: f.toRem(40, 16);
  height: f.toRem(40, 16);
  border-radius: 100%;
  border: none;
  background: linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
  box-shadow: 0px -5px 0px -1px rgba(157, 45, 245, 0.25) inset;
  @include m.breakpoint-up(medium) {
    width: f.toRem(64, 16);
    height: f.toRem(64, 16);
    background: var(--Pink-Gradient, linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%));
    box-shadow: 0px -6px 0px 7px rgba(157, 45, 245, 0.25) inset;
  }
  @include m.breakpoint-up(large) {
    width: f.toRem(94, 16);
    height: f.toRem(94, 16);
  }
}
.btn-style:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%), linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
}
