<div class="header">
  <div class="container">
    <button routerLink="../" class="back">
      <picture>
        <!-- Source pour les appareils avec une largeur d'écran inférieure à 600 pixels -->
        <source media="(max-width: 767px)" srcset="assets/images/icon-back.svg" height="16.17" width="17.447">

        <!-- Source pour les appareils avec une largeur d'écran supérieure ou égale à 600 pixels -->
        <source media="(max-width: 1439px)" srcset="assets/images/icon-back.svg" height="25.872" width="27.915">

        <!-- Source pour les appareils avec une largeur d'écran supérieure ou égale à 600 pixels -->
        <source media="(min-width: 1440px)" srcset="assets/images/icon-back.svg" height="38" width="41">

        <!-- Balise img pour les appareils ne prenant pas en charge la balise picture ou les requêtes media -->
        <img src="fallback_image.jpg" alt="Description de l'image">
      </picture>
    </button>
    <p class="title">
      <picture>
        <!-- Source pour les appareils avec une largeur d'écran inférieure à 375 pixels -->
        <source media="(max-width: 767px)"
                [srcset]="value.mobile_title.src"
                [appTitleSizes]="value.mobile_title.sizes">

        <!-- Source pour les appareils avec une largeur d'écran supérieure ou égale à 600 pixels -->
        <source media="(max-width: 1439px)" [srcset]="value.tablet_title.src" [appTitleSizes]="value.tablet_title.sizes">

        <!-- Source pour les appareils avec une largeur d'écran supérieure ou égale à 600 pixels -->
        <source media="(min-width: 1440px)" [srcset]="value.desktop_title.src" [appTitleSizes]="value.desktop_title.sizes">
        <!-- Balise img pour les appareils ne prenant pas en charge la balise picture ou les requêtes media -->
        <img [src]="value.mobile_title.src" alt="Description de l'image">
      </picture>
<!--      <img ngSrc="assets/images/howtoplay_m.png" alt="page title" height="58" width="185">-->
    </p>
  </div>
</div>
