<div class="header">
  <div class="container">
    <button routerLink="../" class="back">
      <picture>
        <!-- Source pour les appareils avec une largeur d'écran inférieure à 600 pixels -->
        <source media="(max-width: 767px)" srcset="assets/images/icon-back.svg" height="16.17" width="17.447">

        <!-- Source pour les appareils avec une largeur d'écran supérieure ou égale à 600 pixels -->
        <source media="(max-width: 1439px)" srcset="assets/images/icon-back.svg" height="25.872" width="27.915">

        <!-- Balise img pour les appareils ne prenant pas en charge la balise picture ou les requêtes media -->
        <img src="fallback_image.jpg" alt="Description de l'image">
      </picture>
    </button>
    <p class="title">
      <picture>
        <!-- Source pour les appareils avec une largeur d'écran inférieure à 600 pixels -->
        <source media="(max-width: 767px)" srcset="assets/images/howtoplay.PNG" height="58" width="185">

        <!-- Source pour les appareils avec une largeur d'écran supérieure ou égale à 600 pixels -->
        <source media="(max-width: 1439px)" srcset="assets/images/howtoplay_t.PNG" height="125" width="343">

        <!-- Balise img pour les appareils ne prenant pas en charge la balise picture ou les requêtes media -->
        <img src="fallback_image.jpg" alt="Description de l'image">
      </picture>
<!--      <img ngSrc="assets/images/howtoplay.PNG" alt="page title" height="58" width="185">-->
    </p>
  </div>
</div>
