<div class="root">
  <app-game-menu *ngIf="gameMenuState === GAME_MENU_STATE.OPENED"
                 [gameState]="gameCurrentState"
                 (closeMenuEvent)="closeMenu()"></app-game-menu>
  <div class="container">
    <header>
      <div class="header__left">
        <button (click)="openMenu(GAMES_STATES.PAUSED)" class="menu btn-style">
          <picture class="menu-btn">
            <source media="(max-width: 767px)" srcset="assets/images/icon-menu.svg" height="16.17" width="17.447">
            <source media="(max-width: 1439px)" srcset="assets/images/icon-menu.svg" height="25.872" width="27.915">
            <source media="(min-width: 1440px)" srcset="assets/images/icon-menu.svg" height="38" width="41">
            <img src="assets/images/icon-menu.svg" alt="Hamburger menu icon" height="16.17" width="17.447">
          </picture>
        </button>
        <h2 class="category">
          @if (title !== 'tv shows') {
            {{ title | titlecase }}
          } @else {
            TV Shows
          }
        </h2>
      </div>
      <div class="header__right">
        <div class="live-bar">
          <div class="live-bar__value" [ngStyle]="{width: computeLiveBarSize() }"></div>
        </div>
        <picture class="heart">
          <source media="(max-width: 767px)" srcset="assets/images/icon-heart.svg" height="24" width="26.158">
          <source media="(max-width: 1439px)" srcset="assets/images/icon-heart.svg" height="48.933" width="53.333">
          <source media="(min-width: 1440px)" srcset="assets/images/icon-heart.svg" height="48.933" width="53.333">
          <img src="assets/images/icon-heart.svg" alt="Heart icon">
        </picture>
      </div>
    </header>
    <div class="mystery-word">
      @for (word of mysteryWord; track word; let lastWord = $last, count = $count) {
        <p class="mystery-word__letter-group">
          @for (letter of word; track letter; let lastLetter = $last) {
            <div class="letter-group__letter-container"
                 [ngClass]="{
                 'resize': lettersCount() >= 9,
            'found': playerInputs.includes(letter.toUpperCase()),
            'not-found': letter !== ' ' && !playerInputs.includes(letter.toUpperCase()) }"
            >
              @if (playerInputs.includes(letter.toUpperCase())) {
                <span class="letter-group__letter"
                      [ngClass]="{'resize': lettersCount() >= 9}">{{ letter | uppercase }}</span>
              }

            </div>
            @if (lastLetter && !lastWord) {
              <div class=" letter-group__letter-container space" [ngClass]="{'resize': lettersCount() >= 9}">
              </div>
            }
          }
        </p>
      }
    </div>
    <ul class="keyboard" [ngClass]="{'resize': lettersCount() >= 9}">
      @for (letter of keyboardLetters; track letter.value) {
        <li (click)="takePlayerInput(letter.value)" class="keyboard__letter"
            [ngClass]="{
            'resize': lettersCount() >= 9,
            'used': playerInputs.includes(letter.value),
            'not-used': !playerInputs.includes(letter.value) }">
          <button [disabled]="playerInputs.includes(letter.value)">{{ letter.value }}</button>
        </li>
      }
    </ul>
  </div>
</div>

