@import "sass/breakpoints";
@import "sass/mixins";
@import "sass/colors";
@import "sass/helpers/functions";
@import "sass/layout/index";
@import "sass/typography";

.root {
  position: relative;
  padding: toRem(46, 16) toRem(25, 16) 0 toRem(26, 16);
  @include breakpoint-up(medium) {
    padding: toRem(64, 16) toRem(32, 16) 0 toRem(32, 16);
  }
  @include breakpoint-up(large) {
    padding: toRem(60, 16) toRem(126, 16) toRem(78, 16) toRem(112, 16);
  }

  .container {

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header__left {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .category {
          color: $White;
          padding-left: toRem(55, 16);
          font-size: toRem(40, 16);
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 48px */
          letter-spacing: -0.2px;
          @include breakpoint-up(medium) {
            padding-left: toRem(96, 16);
            @include HeadingM;
          }
          @include breakpoint-up(large) {
            padding-left: toRem(151, 16);
            @include HeadingL;
          }
        }
      }

      .header__right {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .live-bar {
          position: relative;
          margin-right: toRem(16, 16);
          background-color: $White;
          width: toRem(57, 16);
          height: toRem(16, 16);
          padding: toRem(4, 16);
          border-radius: toRem(96, 16);
          @include breakpoint-up(medium) {
            margin-right: toRem(40, 16);
            width: toRem(160, 16);
            height: toRem(31, 16);
            padding: toRem(9, 16) toRem(11, 16);
          }
          @include breakpoint-up(large) {
            margin-right: toRem(40, 16);
            width: toRem(240, 16);
          }

          &__value {
            position: absolute;
            background-color: $DarkNavy;
            width: toRem(49, 16);
            height: toRem(8, 16);
            border-radius: toRem(96, 16);
            @include breakpoint-up(medium) {
              width: toRem(138, 16);
              height: toRem(13, 16);
              border-radius: toRem(96, 16);
            }
            @include breakpoint-up(large) {
              width: toRem(217, 16);
            }
          }
        }

        picture {
          display: flex;
          justify-content: center;
          align-items: center;
          width: auto;
        }

        .heart {
          width: toRem(26.158, 16);
          height: toRem(24, 16);
          border: none;
        }
      }
    }

    .mystery-word { // div
      padding-top: toRem(78, 16);
      margin: 0 auto;
      row-gap: toRem(12, 16);
      max-width: toRem(485, 16);
      display: flex;
      flex-wrap: wrap;
      @include breakpoint-up(medium) {
        padding-top: toRem(111, 16);
        row-gap: toRem(16, 16);
        max-width: toRem(991, 16);
      }
      @include breakpoint-up(large) {
        padding-top: toRem(88, 16);
        row-gap: toRem(16, 16);
        max-width: toRem(1670, 16);
      }

      .letter_group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: toRem(8, 16);
        row-gap: toRem(12, 16);
        @include breakpoint-up(medium) {
          flex-wrap: nowrap;
          justify-content: center;
          column-gap: toRem(12, 16);
        }
        @include breakpoint-up(large) {
          column-gap: toRem(16, 16);
        }

        .mystery-word__letter {
          //width: toRem(40, 16);
          //height: toRem(66, 16);
          width: toRem(32, 16);
          height: toRem(48, 16);
          border: 0 solid transparent;
          border-radius: toRem(12, 16);
          @include breakpoint-up(medium) {
            //width: toRem(88, 16);
            //height: toRem(112, 16);
            width: toRem(53, 16);
            height: toRem(80, 16);
            border-radius: toRem(32, 16);
          }
          @include breakpoint-up(large) {
            //width: toRem(112, 16);
            //height: toRem(128, 16);
            width: toRem(65, 16);
            height: toRem(95, 16);
            border-radius: toRem(40, 16);
          }

          &.space {
            background: unset;
            box-shadow: unset;
          }

          &.found {
            background: $Blue;
            box-shadow: 0px -2px 0px 3px #140E66 inset, 0px 1px 0px 6px #3C74FF inset;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              box-shadow: unset;
            }

            > span {
              color: $White;
              font-size: toRem(32, 16);
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 36px */
              letter-spacing: -0.48px;
            }
          }

          &.not-found {
            opacity: 0.25;
            background: $Blue;
            box-shadow: 0px -2px 0px 3px #140E66 inset, 0px 1px 0px 6px #3C74FF inset;

            span {
              display: none;
            }
          }
        }
      }

      .letter_group:not(:last-child) {
        margin-bottom: toRem(8, 16);
        @include breakpoint-up(medium) {
          margin-bottom: toRem(12, 16);
        }
        @include breakpoint-up(large) {
          margin-bottom: toRem(16, 16);
        }
      }
    }

    .keyboard {
      padding-top: toRem(118, 16);
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      column-gap: toRem(8, 16);
      row-gap: toRem(24, 16);
      max-width: toRem(485, 16);
      margin: 0 auto;
      @include breakpoint-up(medium) {
        padding-top: toRem(90, 16);
        column-gap: toRem(16, 16);
        row-gap: toRem(24, 16);
        max-width: toRem(991, 16);
      }
      @include breakpoint-up(large) {
        column-gap: toRem(24, 16);
        row-gap: toRem(24, 16);
        max-width: toRem(1670, 16);
      }

      &__letter {
        width: toRem(28.88889, 16);
        height: toRem(56, 16);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: toRem(8, 16);
        cursor: pointer;
        @include breakpoint-up(medium) {
          width: toRem(64, 16);
          height: toRem(84, 16);
          border-radius: toRem(24, 16);
        }
        @include breakpoint-up(large) {
          width: toRem(109, 16);
          border-radius: toRem(24, 16);
        }

        button {
          border: none;
          background-color: transparent;
          color: $DarkNavy;
          font-size: toRem(24, 16);
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 36px */
          letter-spacing: -0.48px;
          @include breakpoint-up(medium) {
            @include HeadingM;
          }
        }

        &.used {
          background-color: $White;
          opacity: 0.25;
        }

        &.not-used {
          background-color: $White;
        }
      }
    }
  }
}
